{% extends "_base.twig" %}

{% block head %}

{% endblock %}

{% block content %}
<div id="wrapper">
  
  <a class="marklet" href="javascript:location.href='http://isthissitebuiltwithdrupal.com/?url='+encodeURIComponent(location.href);">Drupal?</a>
  
  <p>Make it even easier to figure out if your favorite sites are running your favorite CMS.
    Just drag and drop the link above to your browser's bookmarks bar and you've got a quick
    and easy way to check any site.</p>
  
  <div class="description">
    <p><strong>How does all of this work?</strong></p>
    
    <p>This site uses a PHP script to perform a couple of simple tests on the provided url. It first
      checks for the existence of a file named <em>misc/drupal.js</em>, failing that it checks the
      HTTP Expires header returned by the site. If said header is equal to <em>Sun, 19 Nov 1978 05:00:00 GMT</em>
      we can pretty much assume that it is Drupal.</p>
      
    <p>Obviously neither of these methods are fool proof. Some people hack core, and some sites use
      complex caching systems which set their own headers. A false positive however is pretty unlikely.
      <a href="http://dreamformula.com/articles/drupal">More &raquo;</a></p>
  </div>
  
  <div id="footer"><a href="http://dreamformula.com/articles/drupal">dreamformula.com</a></div>
  
</div>
{% endblock %}
