{% extends "_base.twig" %}

{% block head %}
  <div class="fade-in">Is <a href="{{ url|escape }}">this site</a> built with <a href="http://drupal.org">Drupal?</a></div>
{% endblock %}

{% block content %}
  <a id="{{ is_drupal == 'yes' ? 'likely' : 'unlikely' }}" class="answer">{{ is_drupal }}</a>

  <div id="ask"{% if url %} style="display: none;"{% endif %}>
    <form action="{{ app.request.getBaseURL() }}" method="get" accept-charset="utf-8">
      <input type="text" name="url" value="http://" id="url"/>
    </form>
    <div id="explain" style="display: none;">press enter to find out</div>
  </div>
{% endblock %}